
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
//@import "variables";
@import "mixins";
@import "reset.css";
@import "grid.css";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html {
  background: #fff;
}




.form_list {
  &__content {
    display: none;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 34px;
    max-height: 400px;
    visibility: hidden;
    box-shadow: 0 0 2px 0 #000;
    @include single-transition(all, .3s, linear, 0s);
    &--open {
      display: block;
      visibility: visible;
      opacity: 1;
    }
  }
}